#create-room-container {
    flex: 1;
    height: fit-content;
    width: 90%;
    padding: 20px clamp(5px,2%,20px);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(15px, 2vw, 25px);
}

#create-room-container div, #create-room-container button {
    -webkit-tap-highlight-color: transparent;
}

#create-room-container h1 {
    margin: 0;
}

#create-room-container #create-room-form {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px clamp(5px,2%,20px);
    width: clamp(200px,80%, 600px);
    height: fit-content;
    min-height: 45vh;
    border-radius: 15px;

    background-color: var(--secondary);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    
    transition: opacity 0.5s ease;
}

#create-room-container label {
    display: inline-block;
}

#create-room-container #ms-label, #create-room-container label {
    font-size: 1.1rem;
    text-align: center;
    margin: 5px;
}

#create-room-container #movie-source {
    height: fit-content; /* fix height on mac */
}

#create-room-container #movie-source, #create-room-container #personal-options-checkbox {
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid var(--background-color);

    background-color: var(--primary);
    color: var(--on-primary);

}

#create-room-container #movie-source {
    align-self: center;
    width: clamp(10px, 100%, 350px);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-template-areas: 
        "all-option all-option all-option"
        "netflix disney hbo";
}

#create-room-container #movie-source p {
    margin: 0;
    padding: 3px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#create-room-container #movie-source p:not(.selected) {
    color: var(--on-primary);
}

/* #region: specifying-grid-areas */
#ms-all {
    grid-area: all-option;
}

#ms-netflix {
    grid-area: netflix;
}

#ms-disney {
    grid-area: disney;
    border-left: 3px solid var(--background-color);
    border-right: 3px solid var(--background-color);

}

#ms-hbo {
    grid-area: hbo;
}
/* #endregion */

#create-room-container .selected {
    background-color: var(--accent);
    color: var(--on-accent);

    cursor: auto;
}

#create-room-container #personal-options-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
        margin-right: 0;
        text-align: center;
    }
}

#create-room-container #personal-options-checkbox {
    min-width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    p {
        padding: 10px;
        margin: 0;
    }
    p:not(.selected) {
        color: var(--on-primary);
    }
    p:first-of-type {
        border-right: 3px solid var(--background-color);
    }
}

#create-room-container #password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#create-room-container #room-password {
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 10px;
    border-radius: 15px;
    border: 3px solid var(--background-color);
    font-size: 1.0rem;
    max-width: 90%;
}

#create-room-container #personal-options-section>p {
    margin: 10px 0;
}

#create-room-container #create-room-btn:hover {
    transform: scale(1.05);
}

#create-room-container #set-name {
    position: absolute;
    inset: 0;
    width: fit-content;
    max-width: 80vw;
    height: fit-content;
    padding: 20px;
    margin: auto;
    background-color: var(--primary);
    border: 5px solid var(--background-color);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: opacity 0.3s ease;
}

#create-room-container h3 {
    margin: 0;
    margin-top: 10px;
    color: var(--on-primary);
    text-align: center;
}

#create-room-container #username-input {
    background-color: var(--accent);
    font-size: 1.2rem;
    max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    color: var(--text-color);
    border: 3px solid var(--background-color);
}

#create-room-container #buttons-div {
    margin: 20px;
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#create-room-container #buttons-div #enter-username {
    margin: 0;
    background-color: var(--accent);
    font-size: 1rem;
    color: var(--text-color);
    border: 3px solid var(--background-color);
}
#create-room-container #buttons-div #cancel {
    margin: 0;
    background-color: var(--secondary);
    font-size: 1rem;
    color: var(--text-color);
    border: 3px solid var(--background-color);
}

#create-room-container .hidden {
    opacity: 0;
    pointer-events: none;
}

#create-room-container .visible {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 330px) {
    #create-room-container {
        font-size: 0.8rem;
    }

    #create-room-container #create-room-form {
        margin: 0;
    }
}