#loading-container {
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

#loading-circle-container {
    width: clamp(40px, 20vw, 200px);
    height: clamp(40px, 20vw, 200px);

}

#loading-circle-container #loading-circle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;

    animation: rotate infinite 1.5s ease, appear 3.2s ease;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
}