#room-code-container {
    padding: clamp(3px, 2%,15px) clamp(5px, 3%, 20px);
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(3px, 2%, 10px);

    background-color: var(--primary);
    color: var(--on-primary);

    p {
        margin: clamp(2px, 2%, 10px);
    }

    p:first-of-type {
        font-size: 1.4rem;
        color: var(--on-primary);
    }
}

#room-code {
    font-size: 1.3rem;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 20px;
}

@media (max-width: 380px) {
    #room-code-container p:first-of-type {
        font-size: 0.9rem;
        margin-bottom: 0;
        color: var(--on-primary);
    }
}